 <div class="5grid-layout">
    <div class="row">
      <div class="12u">
        <div id="splash"> <span>In posuere eleifend</span> odio quisque emper augue maecenas ligula congue rutrum. Pellentesque vulputaterisus semper. </div>
      </div>
    </div>
  </div>
  <div class="12u">
    <div class="5grid-layout">
      <div class="row">
        <div class="4u">
          <section>
            <p><a href="#"> <%= image_tag 'pics02.jpg' %></a></p>
            <p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
            <p><a href="#" class="button">View Full Details</a></p>
          </section>
        </div>
        <div class="4u">
          <section>
            <p><a href="#"><img src="images/pics11.jpg" alt=""></a></p>
            <p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
            <p><a href="#" class="button">View Full Details</a></p>
          </section>
        </div>
        <div class="4u">
          <section>
            <p><a href="#"><img src="images/pics12.jpg" alt=""></a></p>
            <p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
            <p><a href="#" class="button">View Full Details</a></p>
          </section>
        </div>
      </div>
    </div>
  </div>