
<div class="12u">
<div class="5grid-layout">
<div class="row">
<div class="8u">
<section>


<h2>Tabela de Serviços de Manutenção Preventiva e Reparo de Computadores</h2>

<h3>Instalação ou Reinstalação do Sistema e Configuração Geral, no Local de Laboratório ou Casa do Cliente
<label class="preco">R$ 40,00 a R$ 70,00</label>
</h3>
<br>
<h3>Instalação ou Reinstalação do Sistema e Configuração Geral + Backup, no Local de Laboratório ou Casa do Cliente
<label class="preco">R$ 60,00 a R$ 100,00</label>
</h3>
<h3>Configuração de Micro em Rede (Ponto)
<label class="preco">R$ 40,00</label>
</h3>
<h3>Configuração de Impressora
<label class="preco">R$ 40,00</label>
</h3>
<h3>Configuração de Placa de Rede
<label class="preco">R$ 40,00</label>
</h3>
<h3>Remoção de Vírus, no Local de Laboratório ou Casa do Cliente	
<label class="preco">R$ 40,00 a R$ 70,00</label>
</h3>
<h3>Roteamento de Modem	
<label class="preco">R$ 60,00 </label>
</h3>
<br>
<h3>Verificação de problemas em CPU (Diagnosticado problema) - Laboratório ou Casa do Cliente
<label class="preco">R$ 40,00 a R$ 70,00 </label>
</h3>
<br>
<h3>Configuração de Gravador de CD e Instalação de Programas para Gravação, no Laboratório ou Casa do Cliente
<label class="preco">R$ 40,00 a R$ 70,00 </label>
</h3>
<br>
<h3>
Configuração placa de som, vídeo, modem, usb e rede, no Laboratório ou Casa do Cliente
<label class="preco">R$ 40,00 a R$ 70,00 </label>
</h3>
<h3>
Instalação de Programa ou aplicativos, no Laboratório ou Casa do Cliente
<label class="preco">R$ 40,00 a R$ 70,00 </label>
</h3>
<h3>
Visita Técnica (deslocamento para regiões até 30Km)

<label class="preco">R$ 100,00 </label>
</h3>
<h3>
Restauração de Dados Apagados, no Laboratório ou Casa do Cliente
<label class="preco">R$ 70,00 a R$ 100,00 </label>
</h3>
<h3>
Instalação de REDE com Fio (Por Máquina)
<label class="preco">R$ 40,00 </label>
</h3>
<br>
<h3>
Salvar Dados de HD em CD-Rom ou Pendrive (até 10GB), no Laboratório ou Casa do Cliente
<label class="preco">R$ 30,00 a R$ 70,00 </label>
</h3>
<h3>
Montagem de CPU ou Upgrade
<label class="preco">R$ 60,00 </label>
</h3>
<br>
<h2>Outros Serviços</h2>
<h3>
CRIAÇÃO DE SITE / BASICO / INTERMEDIARIO / AVANÇADO - Á partir de : 
<label class="preco">R$ 550,00 até R$ 1999,00 </label>
</h3>
<br>

<h3>VISITA SIMPLES<br>
Mão-de-obra para assistência de até uma hora e/ou algo simples, como: Instalação de mouse ou CD-ROM ou checagem geral ou Instalação de um drive de disquetes ou colocação de pente de memória ou Instalação de impressora ou diagnóstico ou colocação de computador em rede (valor unitário da tabela), acima de 4 estações 20% desconto (não inclui cabeamento, estruturação e equipamentos de rede)<br>
No caso de formatação do computador onde poderá ser instalado: Windows 95* ou 98*, Me*, 2000*, XP ou Windows 7* com Office 95*, 97, 2007* ou 2010*, antivírus* todos utilizando os softwares e licenças do cliente, apenas utilizando nossa mão-de-obra técnica. Com backup de até 30g.<br> Nesta categoria também se enquadram micros e notebooks.<br>
<label class="preco">R$ 70,00 a R$ 100,00 </label>
</h3>

</section>
</div>
<div class="4u">

<%= render 'layouts/sidebar_direito' %>

</div>
</div>
</div>
</div>


