<div class="12u">
<div class="5grid-layout">
<div class="row">
<div class="8u">
<section>



<h2>Empresa</h2>
<p>
A Notebooktech é uma empresa especializada na comercialização e manutenção de microcomputadores portáteis. Atuando neste mercado, os fundadores decidiram constituir a empresa com o objetivo de oferecer  a máxima qualidade e total segurança em serviços nas áreas pré-venda e pós-venda.<br>
Essa meta pode ser traduzida por liderança em tecnologia, trabalho em equipe e produtos de excelente qualidade e confiabilidade.<br>
Nosso comprometimento com o cliente vai muito além da venda. O consumidor de informática sabe como é importante o suporte quando a gente mais precisa.

</p>
<p>A Notebooktech visando melhor atender seus clientes e vendo suas necessidade  
para agilizar seus negocios, firmou uma parceria com uma das maiores Empresas de Automação Comercial do Brasil a Digisat Tecnologia, onde a parti desta data 25/08/2013 se torna revenda autorizada da Digisat.  </p>
<h2>
O local certo para você comprar equipamentos de informática com qualidade e segurança
</h2>
<p>
Garantimos nossos serviços com Termo de Garantia próprio. Recebemos equipamentos usados como parte de pagamento na compra de máquinas novas.
Também fazemos a transferência de arquivos, e-mails, etc., da máquina antiga para a nova sem custos adicionais.<br>
Nosso compromisso é atingir e superar as expectativas dos clientes, garantindo sua total satisfação.<br>
Quem distribui soluções de tecnologia tem que conhecer, aplicar e disponibilizar os melhores recursos em favor de seus clientes e do próprio negócio.<br>
 
A Notebooktech é o nome respeitado no mercado de portáteis, e ponto de referência para quem deseja soluções profissionais.
 <br>
Quem quer qualidade, seriedade e confiança procura a Notebooktech. 
</p>
<h2>
Toda linha de acessórios para o seu notebook e equipamentos de informática em geral
</h2>
<h2>Agora com toda linha de Automação Comercial para sua Empresa</h2>




</section>
</div>
<div class="4u">
	<%= render 'layouts/sidebar_direito' %>
</div>
</div>
</div>
</div>


