@import url(http://fonts.googleapis.com/css?family=Lobster:200,300,400,700|Magra:400,700);



body {
	background: #fff url(main-content-bg.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 1.75em;
	color: #616161;
}

h2 {
	letter-spacing: -1px;
	font-family: 'Magra', sans-serif;
	font-size: 2.2em;
	color: #171717;
}


h3 {
	letter-spacing: -0px;
	font-family: 'Magra', sans-serif;
	font-size: 1.5em;
	color: #828282;
}

p, ol {
	line-height: 200%;
}

p {
	margin-bottom: 20px;
}

a {
	color: #00CD00;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

/* Header Content Wrapper */

#header-wrapper {
	overflow: hidden;	
	background: url(footer-wrapper-bg.jpg) repeat;
}

/* Page Wrapper */

#page-wrapper {
}

#page-wrapper a img {
	width: 100%;
	display: block;
	margin-bottom: 30px;
}

/* Footer Content Wrapper */

#footer-wrapper {
	overflow: hidden;
	padding: 70px 0px;
	background: url(footer-wrapper-bg.jpg) repeat;
	border-top: 1px solid #EAEAEA;
}

/* Footer Content */

#footer-content {
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #000000
}

#footer-content .margin-bottom {
}

#footer-content a img {
	width: 100%;
	display: block;
}

/* List style */

.list-style1 {
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	background: url(link-style1-divider.png) repeat-x left top;
}

.list-style1 p {
	margin: 0px;
	padding: 0px;
}

.list-style1 img {
	float: left;
	margin-right: 20px;
}

.list-style1 .posted {
	padding: 10px 0px 0px 0px;
	font-size: 8pt;
	font-style: italic;
	color: #A2A2A2;
}

.list-style1 .first {
	padding-top: 0px;
	background: none;
}

/* Reusable Buttons */

.button {
	display: inline-block;
	outline: 0;
	white-space: nowrap;
	margin-top: 20px;
	padding: 10px 30px 10px 30px;
	background: #277700;
	box-shadow: inset 0px 0px 0px 1px #83C862, 0px 2px 3px 0px rgba(0,0,0,0.25);
	border: solid 1px #277700;
	border-radius: 6px;
	background-image: -moz-linear-gradient(top, #00FF00, #328B06);
	background-image: -webkit-linear-gradient(top, #40AA0E, #328B06);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#40AA0E), to(#328B06));
	background-image: -ms-linear-gradient(top, #40AA0E, #328B06);
	background-image: -o-linear-gradient(top, #40AA0E, #328B06);
	background-image: linear-gradient(top, #40AA0E, #328B06);
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
	font-size: 12pt;
	color: #FFFFFF;
}

.show {
	display: inline-block;
	outline: 0;
	white-space: nowrap;
	margin-top: 20px;
	padding: 02px 30px 02px 30px;
	background: #277700;
	box-shadow: inset 0px 0px 0px 1px #83C862, 0px 2px 3px 0px rgba(0,0,0,0.25);
	border: solid 1px #277700;
	border-radius: 4px;
	background-image: -moz-linear-gradient(top, #00FF00, #328B06);
	background-image: -webkit-linear-gradient(top, #40AA0E, #328B06);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#40AA0E), to(#328B06));
	background-image: -ms-linear-gradient(top, #40AA0E, #328B06);
	background-image: -o-linear-gradient(top, #40AA0E, #328B06);
	background-image: linear-gradient(top, #40AA0E, #328B06);
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
	font-size: 12pt;
	color: #FFFFFF;
}

/* New/Edit Article Module */

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1% 0%;
margin: 10px 0;
}

fieldset label {
display: block;
float: left;
width: 200px;
height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

fieldset input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0;
display: block;
float: left;
width: 96%;
margin: 0 10px;
}

fieldset input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
width: 96%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 96%;
height: 100px;
margin: 0 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.alert_warning {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(icn_alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_error {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(icn_alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_success {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_post {
display: block;
width: 95%;
margin-top: 20px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #E2F6C5;
background-position: 10px 10px;
border: 0px solid #79C20D;
color: #32510F;
padding: 05px 0;
text-indent: 20px;
font-size: 14px;}