
<div class="12u">
<div class="5grid-layout">
<div class="row">
<div class="8u">
<section>
<h2>Localização da Empresa</h2>


<iframe width="750" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps/ms?msa=0&amp;msid=212146090619645663486.0004da0a24912cde1dcb9&amp;ie=UTF8&amp;t=m&amp;ll=-4.575655,-37.775073&amp;spn=0.010695,0.016093&amp;z=16&amp;output=embed"></iframe><br /><small>Visualizar <a href="https://maps.google.com.br/maps/ms?msa=0&amp;msid=212146090619645663486.0004da0a24912cde1dcb9&amp;ie=UTF8&amp;t=m&amp;ll=-4.575655,-37.775073&amp;spn=0.010695,0.016093&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">Notebooktech</a> em um mapa maior</small>


<br />

<h3>Avenida Olímpica, 2329</h3>
<h3>Cacimba do Povo</h3>
<h3>Aracati-CE</h3>
<h3>CEP: 62800-000</h3>
<h3>Fone: (88) 9652-4411</h3>


</section>
</div>
<div class="4u">

    <%= render 'layouts/sidebar_direito' %>

</div>


</div>
</div>
</div>


