<div id="footer-content" class="5grid-layout">
<div class="row">
<div class="3u">
<h2>Publicidade</h2>
<ul class="list-style1">
<li class="first">

<script type="text/javascript">
bb_bid = "1680108";
bb_lang = "pt-BR";
bb_name = "custom";
bb_limit = "4";
bb_format = "bbm";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
</li>
<li>
<script type="text/javascript">
bb_bid = "1680108";
bb_lang = "pt-BR";
bb_name = "custom";
bb_limit = "4";
bb_format = "bbm";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
</li>
</ul>
</div>
<div class="3u">
<h2>Redes Sociais</h2>
<ul class="list-style1">
    <li class="first">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like-box" data-href="https://www.facebook.com/erlonloja" data-width="290" data-height="535" data-show-faces="true" data-stream="true" data-header="false"></div>
    </li>

</ul>
</div>
<div class="6u">

<h2>Destaque Notícias do Blog</h2>
    <% @postssite.each do |c| %>
    <p >
    <%= textilize c.subtitle %>
    </p>

    <p><%= link_to 'Leia mais',  post_path(c), :title => "Leia mais" %>
    </p>
    <% end %>
</div>
</div>
</div>