<div id="footer-content" class="5grid-layout">
<div class="row">
<div class="3u">
<h2>Publicidade</h2>
<ul class="list-style1">
<li class="first">

<script type="text/javascript">
bb_bid = "1680108";
bb_lang = "pt-BR";
bb_name = "custom";
bb_limit = "4";
bb_format = "bbm";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
</li>
<li>
<script type="text/javascript">
bb_bid = "1680108";
bb_lang = "pt-BR";
bb_name = "custom";
bb_limit = "4";
bb_format = "bbm";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
</li>
</ul>
</div>
<div class="3u">
<h2>Redes Sociais</h2>
<ul class="list-style1">
    <li class="first">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like-box" data-href="https://www.facebook.com/erlonloja" data-width="290" data-height="535" data-show-faces="true" data-stream="true" data-header="false"></div>
   

    

    </li>
    

</ul>
</div>
<div class="6u">

<h2>Destaque Notícias do Blog</h2>
    <% @postssite.each do |c| %>
    <p >
    <%= textilize c.subtitle %>
    </p>

    <p><%= link_to 'Leia mais',  post_path(c), :title => "Leia mais" %>
    </p>
    <% end %>
     <!-- botaão do google -->
  
    <!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>

<!-- Posicione esta tag onde você deseja que o selo apareça. -->
<div class="g-plus" data-width="450" data-href="//plus.google.com/105123295365467962956" data-rel="publisher" data-theme="dark"></div>
<!--contado online -->
<div>
<script id="_waus8l">var _wau = _wau || [];
_wau.push(["colored", "1i3y87v39f0v", "s8l", "35ff171000ba"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/colored.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script></div>
<!--contado online -->
</div>
</div>
</div>