<section>
<h2>Publicidade</h2>
<ul class="list-style1">
<li class="first">
<script type="text/javascript">
	bb_bid = "1680108";
	bb_lang = "pt-BR";
	bb_name = "custom";
	bb_limit = "6";
	bb_format = "bbn";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>


</li>
<li>
	<script type="text/javascript"><!--
google_ad_client = "ca-pub-9829104402949830";
/* Notebooktech */
google_ad_slot = "3788750488";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</li>

</ul>
</section>